<template>
    <div class="col-md-8">
        <h5 v-if="title">{{ title }}</h5>
        <youtube-media v-if="videoId" :video-id="videoId" :player-vars="playerVars"></youtube-media>
    </div>
</template>

<script>
  import * as types from './../store/types';

  export default {
    name: 'Player',
    data() {
      return {
        item: null,
        playerVars: {
          autoplay: 1,
          start: 0
        }
      };
    },
    computed: {
      video () {
        return this.$store.getters[types.VIDEO];
      },
      videoId () {
        return (this.item) ? this.item.id.videoId : null;
      },
      title () {
        return (this.item && this.item.snippet.title) ? this.item.snippet.title : '';
      }
    },
    methods: {

    },
    mounted () {

    },
    watch: {
      'video' (to) {
        if (to) {
          this.item = to;
        }
      }
    }
  }
</script>

<style scoped>

</style>
