<template>
    <div class="container">
        <form class="mb-5">
            <div class="input-group">
                <input
                    v-model="searchString"
                    @keydown.13.prevent="parseSearchString"
                    type="text"
                    class="form-control"
                    placeholder="Search ..."
                >
                <div class="input-group-append">
                    <button @click="parseSearchString" class="btn btn-outline-secondary" type="button">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <div class="form-group" v-if="videos.length > 0" style="height: 200px;overflow: scroll;">
                <div class="">
                    <SearchResults :videos="videos"
                                   :reformattedSearchString="reformattedSearchString"/>
                </div>
            </div>
        </form>

    </div>
</template>

<script>
  import SearchResults from './SearchResults';
  export default {
    name: 'SearchForm',
    components: {
      SearchResults
    },
    data() {
      return {
        searchString: ''
      };
    },
    methods: {
      parseSearchString() {
        // Trim search string
        const trimmedSearchString = this.searchString.trim();

        if (trimmedSearchString !== '') {
          // Split search string
          const searchParams = trimmedSearchString.split(/\s+/);
          // Emit event
          this.$emit('search', searchParams);
          // Reset input field
          this.searchString = '';
        }
      }
    },
    props: ['videos', 'reformattedSearchString']
  }
</script>

<style scoped>
    input,
    button {
        box-shadow: none !important;
    }

    .form-control {
        border-color: #6c757d;
    }
</style>
