<template>
    <div>
        <div class="flex mb-0">
            <div :key="video.id.videoId" v-for="video in videos">
                <VideoListItem v-bind:video="video" class="card mb-2"/>
            </div>
        </div>
    </div>
</template>

<script>
  import VideoListItem from './VideoListItem';
  export default {
    name: 'SearchResults',
    components: {
      VideoListItem
    },
    data() {
        return {
          title: 'Search Results'
        };
    },
    methods: {},
    props: ['videos', 'reformattedSearchString']
  }
</script>

<style scoped>
    button:focus {
        box-shadow: none !important;
    }
</style>
