<template>
 <div class="col-md-4">
     <h5>Watch History</h5>
     <ul class="list-group" v-if="list && list.length > 0">
         <li class="list-group-item" v-for="(item, index) in list" :key="index">
             <div class="row" style="cursor: pointer;">
                 <div class="col-md-4" @click="playVideo(item.id.videoId)">Video #{{ item.number }} </div>
                 <div class="col-md-4" @click="playVideo(item.id.videoId)">
                     {{ item | getTitle }}
                 </div>
                 <div class="col-md-4">
                     <button type="button" class="btn btn-link" @click="deleteThis(item.id.videoId)"> Delete</button>
                 </div>
             </div>
         </li>
     </ul>
 </div>
</template>

<script>
  import * as types from './../store/types';
  export default {
    name: 'SideBar',
    data() {
      return {

      };
    },
    methods: {
      deleteThis (id) {
        if (id) {
          this.$store.dispatch(types.VIDEO_ITEM_DELETE, id);
        }
      },
      playVideo (videoId) {
        if (videoId) {
          let find = this.list.filter((item) => {
            return item.id.videoId === videoId;
          })
          if (find && find.length > 0) {
            this.$store.dispatch(types.VIDEO_PLAY_ITEM, find[0]);
          }
        }
      }
    },
    computed: {
      list () {
        return this.$store.getters[types.LIST];
      }
    }
  }
</script>

<style scoped>

</style>
