<template>
    <div>
        <div class="row pt-2 pb-2">
            <div class="col-md-2 pt-2">
                <img class="card-img-left ml-2" v-if="video.snippet.thumbnails.default && video.snippet.thumbnails.default.url"
                     :src="video.snippet.thumbnails.default.url"
                     :style="{ width: `${video.snippet.thumbnails.default.width}px`, height: `${video.snippet.thumbnails.default.height}px` }"
                     alt="Video thumb">
                <img class="card-img-left ml-2" v-else-if="video.snippet.thumbnails.medium && video.snippet.thumbnails.medium.url"
                     :src="video.snippet.thumbnails.medium.url"
                     :style="{ width: `${video.snippet.thumbnails.medium.width}px`, height: `${video.snippet.thumbnails.medium.height}px` }"
                     alt="Video thumb">
            </div>
            <div class="col-md-8">
                <div class="card-block">
                    <h5 class="card-title">
                        {{ video.snippet.title }}
                    </h5>
                    <h6
                            class="card-subtitle mb-2 text-muted"
                    >{{ video.snippet.channelTitle }} | {{ video.snippet.publishedAt | formatDate }}</h6>
                    <p class="card-text">{{ video.snippet.description }}</p>
                </div>
            </div>
            <div class="col-md-2 pt-2">
                <button type="button" class="btn btn-outline-primary ml-2" @click.prevent="clickPlayButton(video)">play</button>
            </div>
        </div>
    </div>
</template>

<script>
  import * as types from './../store/types';
  export default {
    name: 'VideoListItem',
    data() {
      return {
        play: ''
      };
    },
    methods: {
      clickPlayButton (video) {
        if (video) {
          this.$store.dispatch(types.VIDEO_ITEM_SET, video);
        }
      }
    },
    props: ['video']
  }
</script>

<style scoped>

</style>
