<template>
  <div id="app">
    <Header/>
    <SearchForm @search="search"
                :videos="videos"
                :reformattedSearchString="reformattedSearchString"/>
    <div class="container">
      <div class="row pt-2 pb-2">
        <SideBar/>
        <Player/>
      </div>
    </div>
  </div>
</template>

<script>
  import * as types from './store/types';
  import Header from './components/layout/Header.vue';
  import SearchForm from './components/SearchForm';
  import SideBar from './components/SideBar';
  import Player from './components/Player';
  import axios from 'axios';

  export default {
    name: 'app',
    components: {
      SearchForm,
      Header,
      SideBar,
      Player
    },
    data() {
      return {
        videos: [],
        reformattedSearchString: '',
        api: {
          baseUrl: 'https://www.googleapis.com/youtube/v3/search?',
          part: 'snippet',
          type: 'video',
          order: 'viewCount',
          maxResults: 10,
          q: '',
          key: 'AIzaSyDlPTKnW-oi1TnGKNnwDL4BVseW2cf2jGc',
        }
      };
    },
    computed: {
      video () {
        return this.$store.getters[types.VIDEO];
      }
    },
    mounted () {
      this.$store.dispatch(types.VIDEO_GET_LIST);
    },
    methods: {
      search(searchParams) {
        this.reformattedSearchString = searchParams.join(' ');
        this.api.q = searchParams.join('+');
        const { baseUrl, part, type, order, maxResults, q, key } = this.api;
        const apiUrl = `${baseUrl}part=${part}&type=${type}&order=${order}&q=${q}&maxResults=${maxResults}&key=${key}`;
        this.getData(apiUrl);
      },

      getData(apiUrl) {
        axios
          .get(apiUrl)
          .then(res => {
            this.videos = res.data.items;
          })
          .catch(exp => {
            console.error(exp);
          });
      }
    },
    watch: {
      'video' (to) {
        if (to) {
          this.videos = [];
        }
      }
    }
  };
</script>
